@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
body {
  font-family: Montserrat, sans-seriff;
  background-color: #f6f6f9;
  overflow-x: hidden;
}
body ::selection {
  color: #F7D060;
  background-color: #1B9C85;
}
body a {
  text-decoration: none;
  user-select: none;
}
body strong {
  color: rgb(56, 56, 56);
}
body #swalContainer {
  height: 430px;
}
body #swalContainer span {
  font-size: 3.4em;
  border: 4px solid gray;
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 30px;
}
body #swalContainer p {
  font-size: 1.4em;
  font-weight: 600;
  padding: 0;
  margin: 0;
}
body #swalContainer p br {
  margin: 10px 0;
}
body #swalContainer #small_swal {
  position: absolute;
  bottom: 15px;
  left: 0;
  margin: 0 30px;
}
body #swalContainer #small_swal p {
  font-size: 0.8em;
  font-weight: 400;
  margin: 10px 0;
}
body #swalContainer #btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 50px 0 0 0;
}
body #swalContainer #btnContainer .swal_lang_btn {
  display: flex;
  flex-direction: row;
  border-radius: 1.2rem;
  background-color: rgba(132, 139, 200, 0.18);
  color: #363949;
  border: 3px solid #363949;
  transition: all 0.3s;
  padding: 0 10px;
}
body #swalContainer #btnContainer .swal_lang_btn a {
  font-size: 1.2em;
  font-weight: 500;
}
body #swalContainer #btnContainer .swal_lang_btn a img {
  max-width: 50px;
}
body #swalContainer #btnContainer .swal_lang_btn:hover {
  background-color: #363949;
  color: #fff;
}
body #swalContainer #btnContainer .swal_lang_btn:focus {
  outline: none;
}
body footer {
  border-top: solid black 1px;
  padding: 25px 0 0 0;
  margin: 0;
  background: rgb(39, 39, 39);
  backdrop-filter: blur(2px);
  color: #fff;
  overflow: hidden;
}
body footer section {
  margin: 10px 80px 25px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
body footer section h2 {
  margin-bottom: 30px;
}
body footer section h3 {
  width: fit-content;
  margin-bottom: 30px;
  position: relative; /* Add position relative to the h3 element */
}
body footer section h3 .underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  top: 35px;
  left: 0;
}
body footer section h3 .underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: -20px; /* Start the span off-screen to the left */
  animation: moving 2s linear infinite;
}
@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}
body footer section .row {
  margin: 0 20px;
}
body footer section .row ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body footer section .row ul a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
}
body footer section .row ul a:hover {
  color: #F7D060;
}
body .nav_bkgr_black_transp {
  background-color: black;
  position: fixed;
  top: 18px;
  left: 12px;
  width: 44px;
  height: 44px;
  z-index: 777;
  opacity: 0.4;
}
body nav .navbar-toggler:focus,
body nav .navbar-toggler:active {
  outline: none;
  box-shadow: none;
}
body nav .navbar-toggler {
  backdrop-filter: blur(2px);
  padding: 3px;
  height: 44px;
  width: 44px;
  margin-top: 10px;
  border: solid black 1px;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body nav .navbar-toggler span {
  color: #fff;
  font-weight: 200;
  font-size: 35px;
}
body nav .container-fluid, body nav .container {
  max-height: 71px;
}
body nav .navbar-brand {
  display: none;
  font-size: 30px;
  font-weight: 600;
}
body nav .nav_things {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}
body nav .nav_things #globe_svg {
  color: #363949;
}
body nav .nav_things #globe_svg span {
  font-size: 2em;
}
body nav .nav_things a {
  text-decoration: none;
  cursor: pointer;
}
body nav .nav_things span {
  cursor: pointer;
}
body nav .nav_things #dropdown_lang {
  position: absolute;
  top: -110px;
  left: -10px;
}
body nav .nav_things #dropdown_lang li {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  margin: 0;
  cursor: pointer;
}
body nav .nav_things #dropdown_lang li a:active {
  background-color: transparent;
  color: #F7D060;
}
body nav .nav_things #dropdown_lang img {
  width: 35px;
  position: absolute;
  right: 20px;
}
body nav #offcanvasNavbar {
  width: 310px;
  background-color: #f6f6f9;
}
body nav .offcanvas-body {
  margin: 30px 0 0 20px;
  display: flex;
  flex-direction: column;
}
body nav .nav-item {
  margin: 5px 0 5px 0;
}
body nav .nav-item a {
  font-size: 30px;
  font-weight: 400;
}
body .container {
  margin: 25px 0px;
  text-align: center;
}
body .container #landing_page {
  position: relative;
  top: 0;
  z-index: 9;
  color: white;
}
body .container #index_landing_h1 {
  font-weight: 700;
}
body .container #row_h1_img {
  margin: 100px 0 60px 0;
}
body .container #row_h1_img h1 {
  font-size: 2.1rem;
}
body .container .row .col h1 {
  font-weight: 700;
}
body .container #info_portada p {
  font-size: 1.3rem;
}
body .container #info_portada p small {
  font-size: 0.9rem;
  line-height: normal;
}
body .container #portada_btns {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
body .container button {
  border-radius: 1.2rem;
  height: 42px;
  width: 148px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
body .container .get-started-btn {
  color: #fff;
  background-color: #363949;
  transition: all 0.5s ease;
  margin-right: 15px;
  border: solid 2px #f6f6f9;
}
body .container .get-started-btn:hover {
  color: #363949;
  background-color: #fff;
  border: solid 2px #363949;
}
body .container .learn-more-btn {
  color: #363949;
  background-color: #fff;
  border: #363949 solid 2px;
  transition: all 0.5s ease;
}
body .container .learn-more-btn:hover {
  color: #fff;
  background-color: #363949;
  border: solid 2px #f6f6f9;
}
body .container .bkgr_landing {
  position: absolute;
  top: 0;
  background-color: black;
  overflow-x: hidden;
  width: 100vw;
  display: flex;
  justify-content: center;
}
body .container .bkgr_landing img {
  opacity: 0.5;
  height: 650px;
  width: auto;
}
body .container #sections {
  padding-top: 50px;
}
body .container #info_section2 {
  display: flex;
  flex-direction: column;
}
body .container .item {
  order: 2;
}
body .container .item:nth-child(2) {
  order: 1;
  text-align: left;
}
body .container .info_sections {
  margin: 70px 0;
}
body .container .info_sections #text_info_sections_1 {
  text-align: end;
}
body .container .imgs_info_section {
  display: flex;
  justify-content: center;
}
body .container .imgs_info_section img {
  width: 100vw;
}
body .container .row_serv {
  display: flex;
  justify-content: center;
  height: 550px;
}
body .container .row_serv .bkgr_imgs {
  padding: 0;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 550px;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .row_serv .bkgr_imgs img {
  opacity: 0.5;
}
body .container .row_serv .bkgr_text {
  color: white;
  position: relative;
  margin: 150px 20px 0 20px;
  z-index: 1;
  text-align: center;
}
body .container .row_serv .bkgr_text h1 {
  font-size: 30px;
}
body .container .row_serv .bkgr_text small {
  position: relative;
  top: 20px;
  font-size: 18px;
}
body .container .row_serv a {
  position: absolute;
  top: 0;
}
body .container .row_serv a span {
  position: relative;
  top: 500px;
  left: -10px;
  color: white;
  font-size: 30px;
  z-index: 1;
  text-align: center;
}
body .container .row_h2_serv {
  padding: 48px 0 0 0;
  margin: 0 0 16px 0;
  text-align: center;
}
body .container #services_section .row .col-md {
  margin: 30px 0;
}
body .container #services_section .row .col-md .flexb_span_text {
  display: flex;
  margin-left: 13px;
  padding: 0 10px 0 0;
}
body .container #services_section .row .col-md .text_col {
  text-align: start;
  padding: 0;
}
body .container #services_section .row .col-md .span_col {
  display: flex;
  justify-content: center;
  padding: 0;
}
body .container #services_section .row .col-md .span_col span {
  font-size: 30px;
}
body .container #services_section .row .col-md ul {
  margin: 10px 0 0 60px;
}
body .container #services_section .row .col-md ul li {
  text-align: start;
}
body .container #services_section #btn_services {
  margin: 40px 0 90px 0;
}
body .container .faq_box {
  border: solid 1px black;
  text-align: start;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  padding: 5px 5px;
  background-color: #fff;
}
body .container .faq_box span {
  align-self: center;
}
body .container .card {
  text-align: start;
  margin: 3px 5px 20px 5px;
  background-color: #fff;
}
body .container .about_us_text {
  display: flex;
  justify-content: center;
  margin: 0 5px;
  text-align: justify;
}
body .container #contact_section .col_forms {
  display: flex;
  justify-content: center;
}
body .container #contact_section .hide {
  opacity: 0;
  padding: 0;
  margin: 0;
}
body .container #contact_section .invalid input:focus ~ span,
body .container #contact_section .invalid textarea:focus ~ span,
body .container #contact_section .invalid input:valid ~ span,
body .container #contact_section .invalid textarea:valid ~ span {
  background-color: red;
  color: #1B9C85;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  letter-spacing: 0.2em;
  transition: 0.3s all ease-in-out;
  color: black;
  border-radius: 2px;
}
body .container #contact_section .invalid input {
  border: 1px solid red;
}
body .container #contact_section .invalid textarea:focus,
body .container #contact_section .invalid textarea:valid,
body .container #contact_section .invalid textarea {
  border: 1px solid red;
}
body .container #contact_section .invalid textarea:focus ~ span,
body .container #contact_section .invalid textarea:valid ~ span {
  background-color: red;
}
body .container #contact_section .invalid .error {
  position: absolute;
  left: 5px;
  color: #ff3860;
  font-size: 14px;
  height: 13px;
  text-align: left;
}
body .container #contact_section .valid input {
  border: 1px solid black;
}
body .container #contact_section .valid input:focus ~ span,
body .container #contact_section .valid textarea:focus ~ span,
body .container #contact_section .valid input:valid ~ span,
body .container #contact_section .valid textarea:valid ~ span {
  background-color: #1B9C85;
  color: #1B9C85;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  letter-spacing: 0.2em;
  transition: 0.3s all ease-in-out;
  color: black;
  border-radius: 2px;
}
body .container #contact_section .valid input:focus,
body .container #contact_section .valid input:valid {
  border: 1px solid #1B9C85;
}
body .container #contact_section .valid textarea:focus,
body .container #contact_section .valid textarea:valid {
  border: 1px solid #1B9C85;
}
body .container #contact_section .valid textarea:focus ~ span,
body .container #contact_section .valid textarea:valid ~ span {
  background-color: #1B9C85;
}
body .container #contact_section .focus input {
  border: 1px solid black;
}
body .container #contact_section .focus input:focus ~ span,
body .container #contact_section .focus textarea:focus ~ span,
body .container #contact_section .focus input:valid ~ span,
body .container #contact_section .focus textarea:valid ~ span {
  color: #F7D060;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  letter-spacing: 0.2em;
  background-color: #F7D060;
  color: black;
  border-radius: 2px;
}
body .container #contact_section .focus input:valid,
body .container #contact_section .focus input:focus {
  border: 1px solid #F7D060;
}
body .container #contact_section .focus textarea:focus,
body .container #contact_section .focus textarea:valid {
  border: 1px solid #F7D060;
}
body .container #contact_section .inputBox {
  position: relative;
  width: 250px;
}
body .container #contact_section .inputBox input {
  width: 100%;
  padding: 10px;
  background-color: #f6f6f9;
  border-radius: 5px;
  outline: none;
  color: black;
  font-size: 1em;
  transition: 0.3s;
}
body .container #contact_section .inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: #7d8da1;
  text-transform: uppercase;
  transition: 0.3s all ease-in-out;
}
body .container #contact_section #message_input {
  margin-top: 20px;
}
body .container #contact_section textarea {
  resize: none;
  box-shadow: none;
  background-color: #f6f6f9;
  border: solid 1px black;
  border-radius: 5px;
  outline: none;
  position: relative;
  width: 250px;
  margin-top: 15px;
  padding: 15px;
  overflow: hidden;
}
body .container #contact_section #cont_msg {
  top: 40px;
}
body .container #contact_section .anchor_contact {
  display: flex;
  max-width: fit-content;
  text-decoration: none;
  color: black;
  font-size: 1.1em;
}
body .container #contact_section .anchor_contact:hover {
  color: #1B9C85;
}
body .container #contact_section #col_map {
  display: flex;
  justify-content: center;
}
body .container #contact_section #col_map .img_map {
  height: 20%;
  max-width: 85vw;
}
body .container #contact_section #col_map .img_map img {
  width: 100%;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}
body .container #contact_section #col_map .img_map img:hover {
  transform: scale(1.05);
  border-radius: 15px;
}
@media only screen and (max-width: 385px) {
  body .container #col_globe_img #globe_img {
    width: 320px;
  }
}
@media only screen and (min-width: 460px) {
  body .container #sections {
    padding-top: 100px;
  }
}
@media only screen and (min-width: 600px) {
  body .container .row_serv .bkgr_text h1 {
    font-size: 35px;
    margin: 0 0px;
  }
  body .container .imgs_info_section img {
    width: 80vw;
  }
}
@media only screen and (max-width: 800px) {
  body footer section {
    flex-direction: column;
    margin: 10px 0 25px 0;
  }
  body footer section .row {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 1000px) {
  body .row_serv .bkgr_imgs img {
    height: 550px;
  }
  body #info_section_1 {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 990px) {
  body .container #sections {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 1000px) {
  body .container .row_serv .bkgr_text h1 {
    font-size: 42px;
    margin: 0 150px;
  }
  body .container .row_serv .bkgr_imgs {
    display: block;
  }
  body .container .row_serv .bkgr_imgs img {
    width: 100vw;
  }
  body .container #contact_section #message_input {
    width: 456px;
  }
  body .container #contact_section #message_input textarea {
    width: 456px;
  }
  body .container #contact_section #col_map .img_map {
    height: 100%;
    overflow: hidden;
  }
  body .container #contact_section #col_map .img_map img {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) and (max-height: 649px) {
  body .container #row_h1_img {
    text-align: left;
    margin: 0 0 20px 0;
  }
  body .container #sections {
    margin-top: 0;
    padding-top: 30px;
  }
}
@media only screen and (min-width: 1200px) and (min-height: 400px) {
  body .container #row_h1_img {
    margin: 170px 0 20px 0;
    text-align: left;
  }
  body .container #sections {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 1000px) and (min-height: 300px) {
  body .container #sections {
    margin-top: 100px;
  }
}
@media only screen and (min-width: 1200px) and (min-height: 600px) {
  body .container #row_h1_img {
    margin: 170px 0 20px 0;
    text-align: left;
  }
  body .container #row_h1_img h1 {
    margin-top: 90px;
    font-size: 3rem;
  }
  body .container #sections {
    margin-top: 0;
  }
}
@media only screen and (min-width: 1200px) and (min-height: 850px) {
  body .container #sections {
    margin-top: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  body .nav_bkgr_black_transp {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 79px;
    z-index: 777;
    opacity: 0.4;
  }
  body nav {
    backdrop-filter: blur(5px);
    border-bottom: solid black 1px;
  }
  body nav .div_navbrand {
    height: 40px;
    display: flex;
    align-items: end;
  }
  body nav .navbar-brand {
    display: contents;
    color: #fff;
    transition: all 0.1s ease-in-out;
  }
  body nav .navbar-brand a {
    margin-left: 100px;
  }
  body nav .navbar-brand:hover {
    color: #F7D060;
  }
  body nav .offcanvas-body {
    margin: 0;
    flex-direction: row;
  }
  body nav .offcanvas-body ul {
    position: relative;
    right: -50px;
  }
  body nav .offcanvas-body ul li {
    margin-right: 15px;
  }
  body nav .offcanvas-body ul li a {
    color: #fff;
  }
  body nav .offcanvas-body ul li a:hover {
    color: #F7D060;
  }
  body nav .offcanvas-body ul li .nav-link.active {
    color: #F7D060;
  }
  body nav .nav_things {
    margin: 0 10px 0 0;
    position: relative;
    top: 22px;
    width: 150px;
  }
  body nav .nav_things span:hover {
    color: #F7D060;
    transition: all 0.1s ease-in-out;
  }
  body nav .nav_things #globe_svg {
    color: #fff;
    font-size: 1.1em;
  }
  body nav .nav_things #dropdown_lang {
    top: 0%;
    position: absolute;
    top: 60px;
    right: 30px;
  }
  body .container #info_portada {
    text-align: left;
  }
  body .container #info_portada p {
    font-size: 1.75rem;
  }
  body .container #info_portada small {
    font-size: 1.15rem;
  }
  body .container #portada_btns {
    text-align: left;
  }
  body .container .bkgr_landing {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
  body .container .bkgr_landing img {
    height: 100vh;
    width: 100vw;
  }
  body .container .info_sections p {
    margin: 40px 20px 0 0;
  }
  body .container .info_sections .item {
    order: 1;
  }
  body .container .info_sections .item:nth-child(2) {
    order: 2;
    text-align: left;
  }
  body .container .info_sections #text_info_sections {
    text-align: left;
  }
  body .container .info_sections #text_info_sections_1 {
    text-align: left;
  }
  body .container .info_sections #btn1 {
    position: relative;
    top: -250px;
  }
  body .container .info_sections #btn2 {
    position: relative;
    top: -250px;
  }
  body .container .info_sections .imgs_info_section img {
    width: 750px;
  }
  body .container .row_serv .bkgr_text h1 {
    font-size: 45px;
    margin: 0 200px;
  }
  body .container .row_h2_serv {
    padding: 100px 0 0 0;
    margin: 0 0 40px 0;
    text-align: center;
  }
  body .container .row_h2_serv h2 {
    font-size: 38px;
  }
  body .container #services_section .serv_row_2 {
    margin: 55px 150px 85px 150px;
  }
  body .container #faq_section .collapse p {
    margin-bottom: 0;
    font-size: 1.1em;
  }
  body .container #faq_section .collapse a:hover strong {
    color: #1B9C85;
    transition: all 0.1s ease-in-out;
  }
  body .container .faq_box {
    font-size: larger;
  }
  body .container .about_us_text {
    margin: 0 120px 60px 120px;
    font-size: 20px;
  }
  body .container #contact_section #message_input {
    width: 535px;
  }
  body .container #contact_section #message_input textarea {
    width: 535px;
  }
}
@media only screen and (min-width: 1300px) {
  body nav .offcanvas-body ul {
    position: relative;
    right: -150px;
  }
}
@media only screen and (min-width: 1400px) {
  body nav .offcanvas-body ul {
    position: relative;
    right: -245px;
  }
  body .container .row_serv .bkgr_text h1 {
    font-size: 45px;
    margin: 0 295px;
  }
  body .container #contact_section #message_input {
    width: 580px;
  }
  body .container #contact_section #message_input textarea {
    width: 580px;
  }
}
@media only screen and (min-width: 1500px) {
  body nav .offcanvas-body ul {
    position: relative;
    right: -320px;
  }
  body .container #sections {
    margin-top: 0;
  }
  body .row_serv .bkgr_imgs img {
    position: relative;
    top: -25%;
  }
}
@media only screen and (min-width: 1600px) {
  body nav .offcanvas-body ul {
    position: relative;
    right: -440px;
  }
  body .container #sections {
    margin-top: 170px;
  }
}
@media only screen and (min-width: 1700px) {
  body nav .offcanvas-body ul {
    position: relative;
    right: -510px;
  }
}
@media only screen and (min-width: 1800px) {
  body nav .offcanvas-body ul {
    position: relative;
    right: -635px;
  }
}

/*# sourceMappingURL=styles.css.map */
