//Font import
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

$primary_font: Montserrat, sans-seriff;

//Color variables
$color-primary: #6C9BCF;
$color-danger: #FF0060;
$color-success: #1B9C85;
$color-warning: #F7D060;
$color-white: #fff;
$color-info-dark: #7d8da1;
$color-dark: #363949;
$color-light: rgba(132, 139, 200, 0.18);
$color-dark-variant: #677483;
$color-background: #f6f6f9;

$card-border-radius: 2rem;
$border-radius-1: 0.4rem;
$border-radius-2: 1.2rem;

$card-padding: 1.8rem;
$padding-1: 1.2rem;

$box-shadow: 0 2rem 3rem var($color-light);

.dark-mode-variables{
    $color-background: #181a1e;
    $color-white: #202528;
    $color-dark: #edeffd;
    $color-dark-variant: #a3bdcc;
    $color-light: rgba(0, 0, 0, 0.4);
    $box-shadow: 0 2rem 3rem var($color-light);
}

//Main styles
body{
    font-family: $primary_font;
    background-color: $color-background;

    nav{
        .navbar-brand{
            display: none;
        }

        .nav_things{
            display: flex;
            justify-content: space-between;
            // flex-direction: column;
        }

        svg{
            cursor: pointer;
        }

        #offcanvasNavbar{
            width: 310px;
            background-color: $color-background;
        }

        .offcanvas-body{
            margin: 30px 0 0 20px;
            display: flex;
            flex-direction: column;

            .globe_svg{
                position: relative;
                top: -5px;
            }

            .dark-mode{
                background-color: $color-light;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 33px;
                width: 70px;
                cursor: pointer;
                border-radius: $border-radius-1;
                border: solid 1px black;

                span{
                    font-size: 1.6rem;
                    width: 50%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                span.active{
                    background-color: $color-primary;
                    color: white;
                    border-radius: $border-radius-1;
                }
            }
        }

        .nav-item{
            a{
                font-size: 30px;
                font-weight: 400;
            }

            margin: 5px 0 5px 0;
        }
    }

    .container{
        margin: 25px 0px;
        text-align: center;

        #row_h1_img{
            margin: 85px 0 20px 0;
        }

        .row{
            .col{
                h1{
                    font-weight: 700;
                }
            }
        }

        #col_globe_img{
            display: flex;
            justify-content: center;    

            #globe_img{
                width: 400px;
                padding: 0;
            }
        }

        #info_portada{
            p{
                font-size: 1.2rem;

                small{
                    font-size: 0.75em;
                }
            }
        }

        button{
            border-radius: $border-radius-2;
            height: 35px;
            width: 130px;
        }

        .get-started-btn{
            color: $color-white;
            background-color: $color-dark;
            transition: all 0.5s ease;
            margin-right: 15px;
        }
        .get-started-btn:hover{
            color:$color-dark;
            background-color: $color-white;
            border: solid 2px $color-dark;
        }

        .learn-more-btn{
            color: $color-dark;
            background-color: $color-white;
            border: $color-dark solid 2px;
            transition: all 0.5s ease;
        }
        .learn-more-btn:hover{
            color: $color-white;
            background-color: $color-dark;
        }

        

    }//End of container


    //Responsive
    @media only screen and (min-width: 768px){

        nav{
            .navbar-brand{
                display:contents;
                a{
                    margin-left: 100px;
                }
            }

            .offcanvas-body{
                margin: 0;
                flex-direction: row;

                ul{
                    position: relative;
                    left: +750px;

                    li{
                        margin-right: 15px;
                    }
                }

            }

            .nav_things{
                margin-right: 10px;
                position: relative;
                top: +22px;
                flex-direction: row;
                justify-content: space-around;
                width: 150px;

                .globe_svg{
                    position: relative;
                    top: -5px;
                }
            }
           
        }
        .container{
            text-align: left;

            #row_h1_img{
                margin: 170px 0 20px 0;
            }

            #info_portada{
                position: relative;
                top: -370px;
            }

            #col_globe_img{
                justify-content: end;

                #globe_img{
                    width: 500px;
                    position: relative;
                    top: -62px;
                }
            }
            
        }
    }//end of responsive
}//End of body